@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
}
body {
  overflow-y: hidden;
  height: 100vh;
}

.profile-cont {
  box-shadow: -1px 0px 10px 0px rgba(0, 0, 0, 0.162);
  /* border-top-left-radius: 20px;
  border-bottom-left-radius: 20px; */
  /* border-radius: 10px; */
  transition: 0.2s;
}

@media screen and (max-width: 900px) {
  .closemenu {
    transform: translateX(-100%);
  }
  .openmenu {
    transform: translateX(0);
    z-index: 10;
  }
}
